script(type='module').
   import * as goal from '/js/goal.js';
   import * as api from '/js/api.js';
   import * as exercise from '/js/exercise.js';

   const slot = document.getElementById('formContainer');

   // TODO: consolidate whatever is going on here...
   const weightForm = slot.appendChild(await goal.createWeightGoalForm());
   const exerciseForm = slot.appendChild(await goal.createExerciseGoalForm());


h2 Goals
slot#formContainer

