script(src="https://cdn.jsdelivr.net/npm/chart.js" type="module")
script(type="module").
  import * as statChart from "/javascripts/dashboard/stats.js";

  const chartManager = new statChart.ChartManager();
  chartManager.graphCalories();

block display
  div#chart_div
    canvas#chart_canvas