script(src="https://cdn.jsdelivr.net/npm/chart.js")
script(type="module").
  import * as statChart from "/javascripts/dashboard/stats.js";
  const chartManager = new statChart.ChartManager();
  console.log(chartManager);

block display
  div#chart_div
    canvas#chart_canvas