script(type='module').
   import * as weight from '/js/weight.js';

   const slot = document.getElementById('formContainer');

   const form = slot.appendChild(await weight.createForm());


block content
   h2 Weight
   slot#formContainer

