mixin navbarLinkAndScripts()
   link(rel='stylesheet' href='/css/navbar.scss')/

mixin item(href, name)
   li.navItem(class={ current: originalUrl == href, })
      a(href=`${href}`) #{name}

mixin navbar(pageTitle)
   nav
      ul#navList
         +item('/dashboard', 'Dashboard')
         +item('/progress', 'Progress')
         +item('/profile', 'Profile')
         +item('/lorem', 'Lorem')
         +item('/ipsum', 'Ipsum')
         +item('/dolor', 'Dolor')

