extends layout
include navBar

block append head
  link(rel='stylesheet' href='/css/dashboard.scss')/
  script(src="/javascripts/dashboard.js")
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  +navBarLinkAndScripts()

block content
  +navBar("My Dashboard")

  menu
    li#slct_stats() Stats
    li#slct_groups() Groups
    li#slct_goals() Goals
    li#slct_exercise() Exercise
    li#slct_meals() Meals
    li#slct_weight() Weight

  main

block footer

