extends layout

block content

  -var pageTitle = "My Dashboard"
  include navBar

  append head
    link(rel="stylesheet" href="stylesheets/dashboard.css")/
    script(src="javascripts/dashboard.js")
    script(src="javascripts/dashboard/weight.js")

  div#dashboard

    //- sidebar: select current display
    ul#sideBar
      li(class="sideBarItem" display-view="stats") Stats 
      li(class="sideBarItem" display-view="groups") Groups
      li(class="sideBarItem" display-view="goals") Goals
      li(class="sideBarItem" display-view="exercise") Exercise
      li(class="sideBarItem" display-view="meals") Meals
      li(class="sideBarItem" display-view="weight") Weigth 

    //- current display, is to be determined by selection on sidebar
    div#display
      //- this is where we will render the view chosen on the sidebar


