extends layout

block content
  append head
    link(rel="stylesheet" href="stylesheets/dashboard.css")
    script(src="javascripts/dashboard.js")

  header
    include navBar
    h1 Healthmate Dashboard

  //- sidebar: select current display
  div#dashboard

    ul#sideBar
      li#sideBarItem My Stats 
      li#sideBarItem My Groups
      li#sideBarItem My Goals
      li#sideBarItem Log Exercise
      li#sideBarItem Log Meal 
      li#sideBarItem Update Weigth 

    //- current display, is to be determined by selection on sidebar
    div#display
      p this is where we will render the selection on the sidebar


