extends _layout
include _navbar

block append head
   link(rel='stylesheet' href='/css/dashboard.scss')/
   script(src='https://cdn.jsdelivr.net/npm/chart.js')
   script(type='module').
      document
         .querySelector('body > menu')
         .addEventListener('click', async e => {
            document
               .querySelector('main')
               .replaceChildren(
                  document
                     .createRange()
                     .createContextualFragment(
                        await fetch(`/dashboard/${e.target.dataset.display}`)
                           .then(res => res.text())
                           .catch(err => `<strong class="error">${err}</strong>`)
                     )
               )
         })
   +navbarLinkAndScripts()

block append header
   +navbar

block append pre
   menu
      mixin menu-item(display, text)
         li(data-display=display)
            span(style='pointer-events: none; user-select: none;') #{text}

      //- TODO: generate this out more dynamically..?
      +menu-item('stats', 'Stats')
      +menu-item('groups', 'Groups')
      +menu-item('goals', 'Goals')
      +menu-item('exercise', 'Exercise')
      +menu-item('meal', 'Meals')
      +menu-item('weight', 'Weight')

block append footer
   a(href='/auth/logout') Logout

