extends _layout
include _navbar

block append head
   link(rel='stylesheet' href='/css/dashboard.scss')/
   script(src="/javascripts/dashboard.js" defer)
   script(src="https://cdn.jsdelivr.net/npm/chart.js")
   +navbarLinkAndScripts()

block append header
   +navbar("Welcome to Healthmate ")

block append pre
  menu
      //- TODO: generate this out dynamically
      li(data-display='stats')
         span Stats
      li(data-display='groups')
         span Groups
      li(data-display='goals')
         span Goals
      li(data-display='exercise')
         span Exercise
      li(data-display='meal')
         span Meals
      li(data-display='weight')
         span Weight

block append footer
   a(href='/auth/logout') Logout

