extends layout
include navBar

block append head
  link(rel='stylesheet' href='/css/dashboard.scss')/
  script(src="/javascripts/dashboard.js")
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  +navBarLinkAndScripts()

block content
  +navBar("My Dashboard")

  menu
    li#slct_stats(class="sideBarItem") Stats
    li#slct_groups(class="sideBarItem") Groups
    li#slct_goals(class="sideBarItem") Goals
    li#slct_exercise(class="sideBarItem") Exercise
    li#slct_meals(class="sideBarItem") Meals
    li#slct_weight(class="sideBarItem") Weight

  main

block footer

