extends layout

block content

  header
    include navBar

  h1 Healthmate Dashboard
  h2 Welcome #{title}

  p Create a goal
  //- Panel containing goal information (calories, )
  p track exercise 
  p track meals
  p my progress 
  p create group
  a(href="/progress") Progress
