extends layout

block head
   link(rel='stylesheet' href='/css/exercise.scss')
   script(type='module').
      import { createFieldset } from '/js/exercise.js';

      const cont = document.getElementById('container');
      const exercise = cont.appendChild(createFieldset());

      const button = cont.appendChild(document.createElement('button'));
      button.textContent = 'Get data';
      button.addEventListener('click', () => {
         const data = exercise.getData();
         console.log(data);
      });

block content
   h1 Exercise
   div#container

