extends layout

block head 
  script(type='module').
    import * as api from '/js/api.js';
    api.post('/newGoal');
    //- const button = document.createElement('button');
    
    
    //- button.addEventListener('click', () => {
    //-   api.post('/newGoal');
    //- })


block content

  h1= title

    form(action="/newGoal", method="post") 
      br
      br
      label Exercise Type:
      select#exerciseType(type='text' name='exercise' placeholder='Type of exercise')
        each exercise in exercises  
          exercise(value = exercise.)= exerciseType.name
      br
      br
      label Target Weight:
      //Need to check if target is weight or time on an exercise?
      //Weight can link to meals and calories
      input#target(type='number' name='target' placeholder='Target Weight (KG)' #{target} required)
      br
      br
      label Target Date:
      input#endTime(type='date' name='endTime' required)
      br
      br
      input(type='submit' value='Create Goal')