doctype html

//- !! get rid of xmlns on release !!
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    block head
      title Health Mate
      meta(charset='UTF-8')/
      meta(name='viewport' content='width=device-width, initial-scale=1.0')/
      link(rel='stylesheet' href='/stylesheets/style.css')/

  body
    block content

  footer
    block footer

