doctype html

html(xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB")
   head
      block head
         meta(charset='utf-8')/
         meta(name='viewport' content='width=device-width, initial-scale=1.0')/
         meta(name='description' content=`${description||'No description given'}`)/

         link(rel='icon' href='/favicon.svg' type='image/svg+xml')/

         link(rel='stylesheet' href='/css/main.scss')/

         title HealthMate

   body
      header
         h1 HealthMate
         block header

      block pre

      main
         block main

      block post

      footer
         block footer
            p &copy; 2023

