extends layout

block append head
  link(rel='stylesheet' href='/css/login.scss')

block content
   header
      h1 HealthMate

   main
      h3 #{error}
      form(method='post')
         fieldset
            legend Log In
            input#username(type='text' name='username' pattern=".{4,16}" title="Use a Username between 4-16 Characters" placeholder='Username' value=`${username}` required)

            input#password(type='password' name='password' pattern=".{20,72}" title="Password between 20-72 Characters" placeholder='Password' required)


            .buttons
               input(type='submit' value='Log In')

               a.button(href='/auth/signup') Click here to Sign up

block footer
   p &copy; 2023

