extends _layout

block append main
   form(method='post')
      fieldset
         legend Log In

         if error
            strong.error #{error}

         input#username(name='username' pattern=usernameRegex title='4-16 characters comprised of letters, numbers, and underscores' placeholder='Username' value=username required)/

         input#password(type='password' name='password' pattern=passwordRegex title='20+ characters' placeholder='Password' required)/

         input(type='submit' value='Log In')/

         a(href='/auth/signup') Create a new account

