extends layout

block content

  h1=title

  .panel
    a.button(href='/auth/login') Log in
    a.button(href='/auth/signup') Sign up
    #Login
      form(method='post')
        //- TODO: determine best tag for this possible error message
        h2 #{error}

        input#username(type='text' name='username' pattern=".{4,16}" title="Use a Username between 4-16 Characters" placeholder='Username' value=`${username}` required)

        input#password(type='password' name='password' pattern=".{20,72}" title="Password between 20-72 Characters" placeholder='Password' required)

        input(type='submit' value='Log In')

  script(src="/javascripts/tabManager.js")

