extends layout

block content

  h1= title
  
  .panel
    //- .tab
    a.button(href = "/login") Log in
    a.button(href = "/signup") Sign up
    #Login
      form(action='#' method='post')
        //- TODO: determine best tag for this possible error message
        h2 #{error}
        br
        // <label for="email">Email:</label><br>
        input#username(type='text' name='username' placeholder='Username' value=`${username}` required)
        br
        br
        // <label for="password">Password:</label><br>
        input#password(type='password' name='password' placeholder='Password' required)
        br
        br
        input(type='submit' value='Log In')
   

  
  
    
  
