mixin navBarLinkAndScripts()
   link(rel='stylesheet' href='/css/navbar.scss')/
   script(type='module' src='/javascripts/navBar.js')

mixin navBar(pageTitle)
   nav
      ul#navList
         //- TODO: generate this out dynamically
         li.navItem
            a.navLink(href='/dashboard') Dashboard
         li.navItem
            a.navLink(href='/progress') Progress
         li.navItem
            a.navLink(href='/profile') Profile
   h1#User= pageTitle
