append head 
  link(rel='stylesheet' href='stylesheets/navBar.css')
  script(src="javascripts/navBar.js") 

block navBar
  nav
    ul#navList
      li#navItem
        a#navLink(href="/dashboard") Dashboard
      li#navItem
        a#navLink(href="/progress") Progress
      li#navItem
        a#navLink(href="/profile") Profile
      li#navItem
        a#navLink(href="/tempPage2") Temp_Page_2
      li#navItem
        a#navLink(href="/tempPage3") Temp_Page_3

