extends login

block content
  append head 
    //- stylesheets and scripts

  -var pageTitle = "My Profile"
  include navbar

  form(action="#" method='post')
    label Current Weight:
    input#currentWeight(type='text' name='cWeight' placeholder='Weight(KG)')
    label Target Weight:
    input#targetWeight(type='text' name='tWeight' placeholder='Weight(KG)')
    label Height:
    input#height(type='text' name='height' placeholder='Height(cm)')
    p1= bmi
    Label Date of Birth:
    input#dob(type='date' name='dob')
    input(type='submit' value='Submit')

