extends layout 

block content
  append head 
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="javascripts/progressPage.js")
  
  header 
    include navbar 
    h1 My Progress 

  h2 Current Goal Progressions
  div#chart_div
    canvas#progress_chart
      p Chart canvas failed, browser may not support canvas




  