extends layout 
include navbar

block append head 
  script(src="/javascripts/progressPage.js")
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  +navbarLinkAndScripts()


block content
  +navbar(" Progress")

  h2 Current Goal Progressions
  div#chart_div
    canvas#progress_chart
      p Chart canvas failed, browser may not support canvas
