extends layout

block content

  h1= title

  .panel

    a.button(href = "/login") Log in
    a.button(href = "/signup") Sign up

    #Signup
      form(action='#' method='post')
        input#username(type='text' name='username' placeholder='Username' value=`${username}`)
        input#email(type='email' name='email' placeholder='Email' value=`${email}`)
        input#password(type='password' name='password' placeholder='Password' value=`${password}`)
        //- input#ConfirmPassword(type='password' name='ConfirmPassword' placeholder='Confirm Password')
        input(type='submit' value='Sign Up')
        //- button(type='submit' value='Submit')
        //-   a(href = '/dashboard')

