extends _layout

block content
   header
      h1 Success!

   main
      p Congratulations on your new HealthMate account!
      p A verification email has been sent to #{email}. Please click on the link in that email to verify your account.

block footer
   p &copy; 2023

