extends layout

block content
   h1 Success!
   p Congratulations on your new HealthMate account!
   p A verification email has been sent to #{email}. Please click on the link in that email to verify your account.

