@use 'sass:list';
@use 'sass:selector';
 
@mixin sample($points, $sub: '', $direction: to right) {
   $n: length($points);
   @for $i from 1 through list.length($points) {
      $from: list.nth($points, $i);
      $to: list.nth($points, $i % $n + 1);
      &:nth-child(#{$n}n + #{$i}) #{$sub} {
         background-color: $from;
         background-image: linear-gradient($direction, $from, $to);
      }
   }
}
