@use 'sass:color';
@use 'tokyonight' as *;


@mixin standard-input {
   background-color: $bg-colour-4;
   background-image: linear-gradient($bg-colour-4, $mid-colour-0 80%);
   border: 2px solid $bg-colour-2;
   border-radius: 0.2rem;
   color: inherit;
   font-family: inherit;
   font-size: 0.9rem;
   height: 1.5rem;
   padding: 0 0.2rem;

   &:focus {
      outline: none;
      border-color: $hl-colour-2;
   }
}


@mixin buttony-input {
   @include standard-input;
   background-color: $mid-colour-0;
   background-image: linear-gradient($mid-colour-0 -20%, $bg-colour-2);
   // TODO: abstract this out
   box-shadow: 0.1rem 0.1rem 0.2rem 0rem color.change($bg-colour-1, $alpha: 0.5);
   font-size: 0.7rem;
}

