@use 'tokyonight' as *;

/* Mobile (portrait) or other narrow screen styles */
$breakpoint-phone: 500px;

body {
   // Include border in sizing
   box-sizing: border-box;

   // Header, sidebar, main content, and footer
   display: grid;
   grid-template-areas: "header header" "sidebar main" "footer footer";
   grid-template-columns: max-content 1fr;
   grid-template-rows: max-content 1fr max-content;

   @media screen and (max-width: $breakpoint-phone) {
      grid-template-areas: "header" "sidebar" "main" "footer";
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content 1fr max-content;
   }

   // Fill height like an app boss
   height: 100vh;

   // Shrinkrwrap up this shit
   margin: 0;
   padding: 0;

   // Header area; span full width
   header {
      grid-area: header;

      h1 {
         background-image: $bg-gradient-0;
         color: $fg-colour-2;
         text-shadow: 0.05rem 0.05rem 0.1rem $accent-a-0;

         border-bottom-width: 0.1rem;
         border-bottom-style: solid;
         border-image: linear-gradient(to right, $accent-b-0, $accent-b-1, $accent-b-2) 1;
      }
   }

   // Footer area; span full width
   footer {
      grid-area: footer;
      background: $bg-gradient-0-reverse;

      border-top-width: 0.1rem;
      border-top-style: solid;
      border-image: linear-gradient(to left, $accent-b-0, $accent-b-1, $accent-b-2) 1;
   }

   menu {
      display: flex;
      flex-direction: column;
      grid-area: sidebar;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      padding: 0;

      border-image: linear-gradient(to bottom, $bg-colour-4, $hl-colour-0 20%, $hl-colour-1 70%, $hl-colour-0) 1;
      border-right-style: solid;
      border-right-width: 0.15rem;

      @media screen and (max-width: $breakpoint-phone) {
         flex-direction: row;
         justify-content: normal;
         overflow-x: auto;
         width: 100vw;
      }

      li {
         align-items: center;
         background-color: rgb(162, 150, 231);
         display: flex;
         font-weight: bold;
         height: 100%;
         margin: auto 0;
         padding: 0 3rem;

         background-image: linear-gradient(to left, $bg-colour-4, $mid-colour-0);
         color: $fg-colour-1;
         text-shadow: 2px 2px 2px $bg-colour-4;

         @media screen and (max-width: $breakpoint-phone) {
            height: max-content;
            padding: 0.2rem 1rem;
         }

         &:hover {
            background-color: rgb(158, 145, 231);
         }
      }
   }

   main {
      background-image: linear-gradient(180deg, $mid-colour-0, $mid-colour-1, $mid-colour-0);
      grid-area: main;
      overflow-x: hidden;
      overflow-y: auto;
   }
}

