body {
   // Include border in sizing
   box-sizing: border-box;

   // Header, sidebar, main content, and footer
   display: grid;
   grid-template-areas: "header header" "sidebar main" "footer footer";
   grid-template-columns: max-content 1fr;
   grid-template-rows: max-content 1fr max-content;

   // Fill height like an app boss
   height: 100vh;

   // Shrinkrwrap up this shit
   margin: 0;
   padding: 0;

   // Header area; span full width
   header {
      grid-area: header;
   }

   // Footer area; span full width
   footer {
      grid-area: footer;
   }

   menu {
      display: flex;
      flex-direction: column;
      grid-area: sidebar;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         align-items: center;
         background-color: rgb(162, 150, 231);
         display: flex;
         height: 100%;
         margin: auto 0;
         padding: 0 3rem;
         &:hover {
            background-color: rgb(158, 145, 231);
         }
      }
   }

   main {
      grid-area: main;
      overflow-x: hidden;
      overflow-y: scroll;
   }
}
