html {
   font-size: 1.6em;
}
#exerciseForm {
   display: flex;
   flex-direction: row;
   font-family: sans-serif;
   width: max-content;
   margin: auto;

   #typeSelect {
      flex: 1 1 auto;
      text-align-last: right;
      width: 6.8rem;
      font-family: inherit;
      font-size: 0.8rem;
      appearance: none;
      background: inherit;
      border: none;
      option {
         direction: rtl;
      }
   }

   #valueBox {
      display: flex;
      flex-direction: row;
   }

   #valueInput {
      flex: 1 3 auto;
      text-align: right;
      padding-right: 0.24rem;
      width: 2.8rem;
      font-style: italic;
      font-size: 0.9rem;
   }

   #metricLabel {
      font-style: italic;
      border: 1px solid fuchsia;
      min-width: 5rem;
      font: {
         size: 0.9rem;
         weight: normal;
         family: inherit;
      }
      text-align: left;
      padding-left: 0.2rem;
      padding-block: 0.16rem;
   }
}
