@use "sass:color";
@use 'tokyonight' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mobile (portrait) or other narrow screen styles */
$breakpoint-phone: 500px;


// Some gradients, which maybe should be moved out to a theme file, or inlined, or some shit...
// Reduced to just points that can be passed to a gradient function, or manipulated
// as a SASSScript list, or prepended with a direction, etc. etc.
$bg-gradient-0: $bg-colour-0 0%, $bg-colour-2 33%, $bg-colour-4 100%;
$accent-gradient-0: $accent-b-0, $accent-b-1, $accent-b-2;


html {
   font-size: 1.6em;
   background-color: $mid-colour-1;
   color: $fg-colour-2;
   font-family: 'Montserrat Alternates', sans-serif;
}


body {
   // Include border in sizing
   box-sizing: border-box;

   // Header, sidebar, main content, and footer
   display: grid;
   grid-template-areas: "header header" "sidebar main" "footer footer";
   grid-template-columns: max-content 1fr;
   grid-template-rows: max-content 1fr max-content;

   @media screen and (max-width: $breakpoint-phone) {
      grid-template-areas: "header" "sidebar" "main" "footer";
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content 1fr max-content;
   }

   // Fill height like an app boss
   height: 100vh;

   // Shrinkrwrap up this shit
   margin: 0;
   padding: 0;


   // Header area; span full width
   header {
      background-color: $bg-colour-2;
      background-image: linear-gradient($bg-gradient-0);
      grid-area: header;
      border-bottom: 0.1rem solid $accent-b-1;
      border-image: linear-gradient(to right, $accent-gradient-0) 1;

      h1 {
         color: $fg-colour-2;
         text-shadow: 0.05rem 0.05rem 0.1rem $accent-a-0;
         margin: 0;
      }
   }


   // Footer area; span full width
   footer {
      grid-area: footer;
      background-color: $bg-colour-2;
      background-image: linear-gradient(to top, $bg-gradient-0);

      border-top: 0.1rem solid $accent-b-1;
      border-image: linear-gradient(to left, $accent-gradient-0) 1;
   }


   // Main content area
   main {
      background-color: $mid-colour-1;
      background-image: linear-gradient(180deg, $mid-colour-0, $mid-colour-1, $mid-colour-0);
      grid-area: main;
      overflow-x: hidden;
      overflow-y: auto;
   }
}


// Default/shared form styling
form {
   background-color: $bg-colour-2;
   background-image: linear-gradient($bg-colour-2, $bg-colour-4);
   border-radius: 0.3rem;
   // TODO: rework centreing style to avoid the width clipping?
   margin: auto;
   max-width: 20rem;
   padding: 0.3rem 0.5rem 0.8rem;

   > fieldset {
      border: 2px solid $accent-b-1;
      border-image: linear-gradient(to bottom right, $accent-gradient-0) 1;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      gap: 0.3rem;

      > legend {
      }
   }
}

@mixin standard-input {
   background-color: $bg-colour-4;
   background-image: linear-gradient($bg-colour-4, $mid-colour-0 80%);
   // TODO: probably not this border colour...
   border: 2px solid $mid-colour-1;
   border-radius: 0.2rem;
   color: inherit;
   font-family: inherit;
   font-size: 0.9rem;
   height: 1.5rem;
   padding: 0 0.2rem;

   &:focus {
      outline: none;
      border-color: $hl-colour-2;
   }
}

input, button, select {
   @include standard-input;
}

button, input[type=submit], select {
   background-color: $mid-colour-0;
   background-image: linear-gradient($mid-colour-0 -20%, $bg-colour-2);
   // TODO: abstract this out
   box-shadow: 0.1rem 0.1rem 0.2rem 0rem color.change($bg-colour-1, $alpha: 0.5);
   font-size: 0.7rem;
}

