@use 'sass:color';

@use 'tokyonight' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 1.6em;
    background-color: #1a1b26;
    background-image: linear-gradient(#1a1b26, #1f2335);
    background-attachment: fixed;
    color: #c0caf5;
    font-family: 'Montserrat Alternates', sans-serif;
}

a {
  font-family: inherit;
  &:visited {
     color: #9d7cd8;
     font-family: inherit;
  }
}

h1 {
    font-family: inherit;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    text-align: center;
}

h2 {
  font-family: inherit;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  text-align: center;
}

#newMeal{
    font-family: inherit;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    text-align: center;
}

$glow: #6183bb;

$input-bg-colour: #292e42;
$input-bg-gradient: linear-gradient($input-bg-colour, color.scale($input-bg-colour, $lightness: 10%));

#mealFeildSet{
  background-clip: content-box;
  background-color: #24283b;
  background-image: linear-gradient(#292e42, #24283b);
  border-radius: 0.2rem;
  border: 2px solid #414868;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: max-content;

  legend{
    font-family: inherit;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    text-align: center;
  }

  &:focus-within {
     border: 2px solid $glow;
  }

  &::before {
     //color: #9ece6a;
     color: #41a6b5;
     content: '⮋';
     position: absolute;
     pointer-events: none;
     text-shadow: 1px 1px 2px #1a1b26;
     margin-left: 0.2rem;
     margin-top: 0.05em;
  }

  #type {
     color: #c0caf5;
     flex: 1 1 auto;
     margin-right: 0.2rem;
     margin-top: 5px;
     margin-bottom: 5px;
     text-align-last: right;
     width: 7.2rem;
     font-family: inherit;
     font-size: 0.8rem;
     appearance: none;
     background: inherit;
     border: none;
     option {
        direction: rtl;
     }
  }

  #quantity {
     background-image: $input-bg-gradient;
     color: #c0caf5;
     flex: 1 3 auto;
     height: 1.5rem;
     margin-top: 5px;
     margin-bottom: 5px;
     text-align: right;
     padding-right: 0.2rem;
     width: 2.8rem;
     font-style: italic;
     font-size: 0.9rem;
     border: none;
     $valueInput-border: 4px ridge #24283b;
     border-left: $valueInput-border;

     &:focus {
        outline: none;
        border-left: $valueInput-border;
        border-color: $glow;
     }
  }
  
  #removeBut{
    color: inherit;
    font-family: inherit;
    background-color: #24283b;
    background-image: linear-gradient(#292e42, #24283b);
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    border-radius: 0.2rem;
    border: 2px solid #414868;
    box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
    display: inline-block;
    flex-direction: row;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }
}

#mealForm {
    background-clip: content-box;
    background-color: #24283b;
    background-image: linear-gradient(#292e42, #24283b);
    fieldset{
      border: 2px solid;
      border-image: linear-gradient(135deg, $accent-b-0, $accent-b-2) 1;
      margin: 10px;
      margin-top: 0;
    }
    border-radius: 0.2rem;
    border: 2px solid #414868;
    box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
    display: flex;
    flex-direction: row;
    font-family: inherit;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    padding: 0;
    width: max-content;

    #mealType
    {
        color: inherit;
        font-family: inherit;
        background-color: #24283b;
        background-image: linear-gradient(#292e42, #24283b);
        text-shadow: 0.1rem 0.1rem 0.2rem black;
        border-radius: 0.2rem;
        border: 2px solid #414868;
        box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
    }

}

#addMealBut{
        color: inherit;
        font-family: inherit;
        background-color: #24283b;
        background-image: linear-gradient(#292e42, #24283b);
        text-shadow: 0.1rem 0.1rem 0.2rem black;
        border-radius: 0.2rem;
        border: 2px solid #414868;
        box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
        display: inline-block;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        overflow: hidden;
    }

#addItemBut{
        color: inherit;
        font-family: inherit;
        background-color: #24283b;
        background-image: linear-gradient(#292e42, #24283b);
        text-shadow: 0.1rem 0.1rem 0.2rem black;
        border-radius: 0.2rem;
        border: 2px solid #414868;
        box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
        display: inline-block;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        overflow: hidden;
    }

#mealLabel{
  display: none;
}


