@use 'sass:color';

@use 'tokyonight' as *;

// TODO: properly structure includes to not do this
@use 'main' as *;


#mealForm {
   > fieldset {
      > label {
         display: none;
      }
   }
}

// TODO: abstract probably most of this out for other similar widgets
.mealItem {
   @include standard-input;

   box-shadow: 0.1rem 0.1rem 0.2rem 0rem color.change($bg-colour-1, $alpha: 0.5);
   display: flex;
   flex-direction: row;
   overflow: clip;
   padding: 0;

   &:focus-within {
      // TODO: define this properly where it can be used across UI elements
      border-color: $hl-colour-2;
   }

   > legend {
      display: none;
   }

   select {
      border: {
         bottom: 0;
         left: 0;
         radius: 0;
         top: 0;
      }
      min-width: 6.4rem;
      // TODO: retry adding in a custom dropdown arrow?
      //appearance: none;
      // TODO: try another pass at this right-align?
      //text-align-last: right;
      //option {
      //   direction: rtl;
      //}
   }

   input, span {
      background: {
         color: transparent;
         image: none;
      }
      border: none;
      font-style: italic;
      line-height: 1.5rem;
   }

   input {
      flex-grow: 1;
      text-align: right;

      &:focus {
         outline: none;
      }
   }

   span {
      font-size: 0.7rem;
      padding-right: 0.3rem;
   }

   .remove {
      border: {
         bottom: 0;
         radius: 0;
         right: 0;
         top: 0;
      }
   }
}

