@use 'sass:color';
@use 'tokyonight' as *;
@use 'ui';


#mealForm {
}


// 'Typed' input widget for idividual meal items
.mealItem {
   @include ui.typed-input-widget;

   box-shadow: 0.1rem 0.1rem 0.2rem 0rem color.change($bg-colour-1, $alpha: 0.5);

   // These labels exist for semantic purposes, but server little pupose in the UI
   > legend, > label {
      display: none;
   }

   .remove {
      border: {
         bottom: 0;
         radius: 0;
         right: 0;
         top: 0;
      }
   }
}

