@use "sass:color";
@use 'tokyonight' as *;

h3 {
 font-family: inherit;
 text-shadow: 0.1rem 0.1rem 0.2rem black;
 text-align: center;
 font-size: 60%;
}

form {
   font-family: inherit;
   background-color: #24283b;
   background-image: linear-gradient(#292e42, #24283b);
   text-shadow: 0.1rem 0.1rem 0.2rem black;
   border-radius: 0.2rem;
   border: 2px solid #414868;
   box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
   width:400px;
   padding: 0.8rem 0.5rem;
   margin: auto;

   fieldset {
      legend { margin-top: -10px; }
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      border: 2px solid;
      border-image: linear-gradient(135deg, $accent-b-0, $accent-b-2) 1;
   }

   input {
      color: inherit;
      font-family: inherit;
      background-color: #24283b;
      background-image: linear-gradient(#292e42, color.scale(#292e42, $lightness: 10%));
      text-shadow: 0.1rem 0.1rem 0.2rem black;
      border-radius: 0.2rem;
      border: 2px solid #414868;
      //box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
      padding: 7px;
   }

   input[type="submit"] {
      color: inherit;
      font-family: inherit;
      background-color: #24283b;
      background-image: linear-gradient(#292e42, #24283b);
      text-shadow: 0.1rem 0.1rem 0.2rem black;
      border-radius: 0.2rem;
      border: 2px solid #414868;
      box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
      font-size: 0.7rem;
      text-decoration: none;
   }

   div.buttons {
      display: flex;
      justify-content: space-between;

      input, .button {
         color: inherit;
         font-family: inherit;
         background-color: #24283b;
         background-image: linear-gradient(#292e42, #24283b);
         text-shadow: 0.1rem 0.1rem 0.2rem black;
         border-radius: 0.2rem;
         border: 2px solid #414868;
         box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000A;
         font-size: 0.7rem;
         text-decoration: none;
         padding: 0.2rem;
      }
   }
}
