extends layout

block content

  h1= title
  
  .panel
    .tab
      button#defaultOpen.tablinks(onclick="openTab(event, 'Login')") Log in
      button.tablinks(onclick="openTab(event, 'Signup')") Sign up
    #Login.tabcontent
      form
        br
        // <label for="email">Email:</label><br>
        input#email(type='email' name='email' placeholder='Email')
        br
        br
        // <label for="password">Password:</label><br>
        input#password(type='password' name='password' placeholder='Password')
        br
        br
        input(type='submit' value='Submit')
    #Signup.tabcontent
      form
        br
        input#uname(type='text' name='username' placeholder='Username')
        br
        br
        input#email(type='email' name='email' placeholder='Email')
        br
        br
        input#password(type='password' name='password' placeholder='Password')
        br
        br
        input#ConfirmPassword(type='password' name='ConfirmPassword' placeholder='Confirm Password')
        br
        br
        input(type='submit' value='Submit')


  script(src="javascripts/tabManager.js") 
  
  
    
  
